---
layout: page
title: "About"
description: "Who is Caedmom"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 </option>
    <option value="1"> English </option>
</select>

<!-- Chinese Version -->
<div class="zh">
    <p>大家好，我是<strong>陈东林</strong>，现任江西服装学院教师，过去几年一直在做Unity、WebGL、Unreal Engine 4、VR研发工作，研究方向游戏引擎、WebGL、大数据分析与可视化。</p>

    <p><a href="http://www.manew.com/forum-wiki-1.html" target="_blank">蛮牛译馆</a>前版主，曾在<a href="http://www.manew.com/home.php?mod=space&uid=71862&do=thread&view=me&from=space" target="_blank">游戏蛮牛</a>上分享译文和技术博客。</p>
	
	<p>个人翻译的技术书籍《Blueprints Visual Scripting for Unreal Engine》于2017年6月由人民邮电出版社出版，大家可以到<a href="https://detail.tmall.com/item.htm?spm=a230r.1.14.22.15bd6b3feMLWZc&id=553744929652&ns=1&abbucket=8" target="_blank">天猫</a>|<a href="https://item.jd.com/12207540.html" target="_blank">京东</a>|<a href="http://product.dangdang.com/25091562.html" target="_blank">当当</a>购买支持。</p>

	<p><img src="/img/in-post/CoverOfUnrealEngine4BlueprintScripting.jpg" alt="img" /></p>
	
    <p>更多关于我的论文和项目，可以戳我的<a href="https://caedmom.github.io/portfolio/">作品集</a>。</p>

    <p>联系方式：caedmom.chen # foxmail DOT com</p>
</div>

<!-- English Version -->
<div class="en">
    <p>Hi, my name is <strong>Caedmom Chen</strong>.  My research interest is computer graphics, including modeling, rendering, virtual reality(VR) and augmented reality (AR).</p>

    <p>I like sharing shaders in <a href="http://www.manew.com/forum-wiki-1.html" target="_blank">Manew.com</a> and writing <a href="http://www.manew.com/home.php?mod=space&uid=71862&do=thread&view=me&from=space" target="_blank">blogs</a>. </p>
	
	<p>In 2016, I translate a book naming <i>Blueprints Visual Scripting for Unreal Engine</i>, which has been published by the People's Posts and Telecommunications Press（Posts &amp; Telecom Press）in 2017.</p>
	
	<p><img src="/img/in-post/CoverOfUnrealEngine4BlueprintScripting.jpg" alt="img" /></p>

    <p>For more about my publications and projects, please visit my <a href="https://caedmom.github.io/portfolio/">Portfolio</a>.</p>

    <p>Contact me：caedmom.chen # foxmail DOT com</p>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

{% if site.livere_uid %}
<!-- livere 评论框 start -->
<div class="comment">
    <div id="lv-container" data-id="city" data-uid="{{ site.livere_uid }}"></div>
</div>
<!-- livere 评论框 end -->

<!-- livere 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    (function(d, s) {
        var j, e = d.getElementsByTagName(s)[0];
        if (typeof LivereTower === 'function') { return; }
        j = d.createElement(s);
        j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
        j.async = true;
        e.parentNode.insertBefore(j, e);
    })(document, 'script');
</script>
<!-- livere 公共JS代码 end -->
{% endif %}
