---
title: "Portfolio"
layout: default
description: "What I did"
header-img: "img/portfolio-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Language Selector -->
<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
    <select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
        <option value="0" selected> 中文 </option>
        <option value="1"> English </option>
    </select>
    <div class="row">
        </br>
    </div>
</div>

<!-- Chinese Version -->
<div class="zh">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <div class = "panel panel-default">   
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>论文</h1>
                                </div>
                            </div>
                        </div>
                    </div>    

                    <ul class="list-group">
					    <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/RehabilitationTraining.png" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b>基于HTC VIVE的可穿戴上肢康复训练系统的研究</b></br>
                                        陈东林，刘昊，任志刚</br>
                                        <i>北京服装学院学报[中文核心]2018</i>
                                    </p>
                                    <p>基于人体上肢运动学理论，使用D-H参数方法建立人体上肢5自由度模型，仿真模拟了上肢手腕部的运动空间，以确保训练的安全性。以此为基础设计训练方案，并在Unreal Engine 4中构建虚拟康复训练场景。患者通过操纵控制器触碰虚拟场景中的目标点完成训练任务。经上肢行为正常人士及偏瘫病人临床测试验证，训练任务有效促进了病人参与康复训练的主动性，运动轨迹记录可及时反馈患肢的运动情况，系统满足康复训练的需求。</p>                              
                                </div>
                            </div>
                        </li>
					
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/dark-wonder RPG.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b>基于Unity3D的RPG游戏开发</b></br>
                                        陈东林，刘昊</br>
                                        <i>2016人工智能与计算机科学国际学术会议</i>
                                    </p>
                                    <p>本文通过一款基于Unity3D的RPG游戏项目，概述RPG游戏的整体设计、任务系统设计、界面系统设计和游戏主场景的开发，介绍了使用NGUI插件搭建UI(User Interface 用户界面)，并通过功能分化为菜单、对话框以及背包系统，解析了任务系统的设计以及游戏角色控制的常用方法。</p>                              
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/quantization-effect.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b>数字信号处理中的量化效应研究</b></br>
                                        陈东林，陈勇</br>
                                        <i>江西师范大学学士学位论文</i>
                                    </p>
                                    <p>本文从A/ D 变换器、系统参数及运算三个方面进行了量化误差分析。这些量化效应主要和计算中用的寄存器长度有关，寄存器长度愈长，量化效应愈小。</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class = "panel panel-default">   
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>项目</h1>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="list-group">                      

						<li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/OCT.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>深圳华侨城--果岭售楼系统</b></p>
                                    <p><i>开发工具：Unity3D, C#</i></p>
                                    <p>深圳华侨城香山美墅四期--果岭售楼系统亮点在于唯幻科技的销控系统，以及“一房一景”功能。通过销控系统能够让买房客户和销售直观的了解到楼盘的销售情况，通过“一房一景”功能，能够让客户直观的感受到楼层景观的变化。本项目范围为果岭半径3公里的地块，项目中所有主要的地标、学校、酒店、娱乐场所等注意标明。</p>                     
                                </div>
                            </div>
                        </li>
						
				
				<div class = "panel panel-default">   
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>Demo</h1>
                                </div>
                            </div>
                        </div>
                    </div>    

                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/slide-pictures.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>SlidePictures</b></p>
                                    <p><i>开发工具：Unity3D, C#</i></p>
                                    <p>Unity3D中有多种方法制作图片查看器，针对4.x版本和NGUI3.0.9，使用切换材质的方法也可以实现幻灯片播放的功能。</p> 
									<a href="https://github.com/caedmom/dEveloper/blob/master/Projects/Unity%20Projects/SlidePictures.rar" target="_blank" class="btn btn-default btn-sm" role="button">Code</a>
									<a href="https://caedmom.github.io/2014/12/23/unity-ngui-slide/" target="_blank" class="btn btn-default btn-sm" role="button">Tutorial</a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
				
            </div>
        </div>
    </div>
</div>

<!-- English Version -->
<div class="en">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <div class = "panel panel-default">   
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>Papers</h1>
                                </div>
                            </div>
                        </div>
                    </div>    

                    <ul class="list-group">
						<li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/RehabilitationTraining.png" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b>Application of Wearable Device HTC VIVE in Upper Rehabilitation Training</b></br>
                                        Donglin Chen,Hao Liu,Zhigang Ren</br>
                                        <i>IEEE IMCEC 2018</i>
                                    </p>
                                    <p>By analyzing the human upper limb kinematics with Denavit- Hartenberg parameter method, it has established a 5-DOF model of human upper limb , and the work area of the upper limbs wrist was simulated and analyzed to ensure the training safety. The user study shows the system has promoted the patient's initiative for participating in rehabilitation training, the motion track records the movement of the limbs, and it meets the needs of rehabilitation training.</p>                              
                                </div>
                            </div>
                        </li>
					
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/dark-wonder RPG.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b>RPG Game Development Based On Unity3D</b></br>
                                        Donglin Chen,Hao Liu</br>
                                        <i>AICS2016</i>
                                    </p>
                                    <p>This paper through a RPG game project which based on Unity3D platform,Overview the overall design,the design of the task system,the interface system design and the development of the main scene for the RPG, it introduced the use of NGUI plug-in to build UI(User Interface)，and the function is divided into the menu, dialog box and the backpack system,The design of task system and the common methods of game role control are analyzed.</p>
                                    <a href="https://vimeo.com/157542775" target="_blank" class="btn btn-default btn-sm" role="button">Video</a>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/quantization-effect.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b>The research of the quantization effect in the digital signal processing</b></br>
                                        Donglin Chen,Yong Chen</br>
                                        <i>Jiangxi Normal University Bachelor Paper</i>
                                    </p>
                                    <p>This paper made analysis in three aspects of quantization errors from the A/ D converter, the system parameters and operation. These quantitative effect is mainly related to the register length in the calculation, the length is longer, the quantization effect is smaller.</p>
                                    <a href="https://vimeo.com/157533815" target="_blank" class="btn btn-default btn-sm" role="button">Video</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class = "panel panel-default">   
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>Projects</h1>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="list-group">                                            
                     
						<li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/OCT.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>OCT-GUOLING SHEN ZHEN</b></p>
                                    <p><i>Development Tools: Unity3D, C#</i></p>
                                    <p>The highlight of green sales system of Xiangshan villa phase IV in Oct Shenzhen lies in the sales control system of Arvix technology and the function of "one room, one view". Through the sales control system, customers and sales can intuitively understand the sales situation of real estate. Through the function of "one room, one scene", customers can intuitively feel the change of floor landscape. The scope of the project is a plot with a radius of 3 km. All major landmarks, schools, hotels and entertainment places in the project should be noted</p>                     
                                </div>
                            </div>
                        </li>
					 
                        
                    </ul>
                </div>
				
				<div class = "panel panel-default">   
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>Demos</h1>
                                </div>
                            </div>
                        </div>
                    </div>    

                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/slide-pictures.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>SlidePictures</b></p>
                                    <p><i>Development Tools: Unity3D, C#</i></p>
                                    <p>There has many method to made slide for Unity3D,for Unity 4.x and NGUI3.0.9,we can realize it by change the materials of the gameobject.</p> 
									<a href="https://github.com/caedmom/dEveloper/blob/master/Projects/Unity%20Projects/SlidePictures.rar" target="_blank" class="btn btn-default btn-sm" role="button">Code</a>
									<a href="https://caedmom.github.io/2014/12/23/unity-ngui-slide/" target="_blank" class="btn btn-default btn-sm" role="button">Tutorial</a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
				
            </div>
        </div>
    </div>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>