---
title: "Portfolio"
layout: default
description: "What I did"
header-img: "img/portfolio-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Language Selector -->
<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
    <select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
        <option value="0" selected> 中文 </option>
        <option value="1"> English </option>
    </select>
    <div class="row">
        </br>
    </div>
</div>

<!-- Chinese Version -->
<div class="zh">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <div class = "panel panel-default">   
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>论文</h1>
                                </div>
                            </div>
                        </div>
                    </div>    

                    <ul class="list-group">
					    <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/RehabilitationTraining.png" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b>基于HTC VIVE的可穿戴上肢康复训练系统的研究</b></br>
                                        陈东林，刘昊，任志刚</br>
                                        <i>北京服装学院学报[中文核心]2018</i>
                                    </p>
                                    <p>基于人体上肢运动学理论，使用D-H参数方法建立人体上肢5自由度模型，仿真模拟了上肢手腕部的运动空间，以确保训练的安全性。以此为基础设计训练方案，并在Unreal Engine 4中构建虚拟康复训练场景。患者通过操纵控制器触碰虚拟场景中的目标点完成训练任务。经上肢行为正常人士及偏瘫病人临床测试验证，训练任务有效促进了病人参与康复训练的主动性，运动轨迹记录可及时反馈患肢的运动情况，系统满足康复训练的需求。</p>                              
                                </div>
                            </div>
                        </li>
					
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/dark-wonder RPG.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b>基于Unity3D的RPG游戏开发</b></br>
                                        陈东林，刘昊</br>
                                        <i>2016人工智能与计算机科学国际学术会议</i>
                                    </p>
                                    <p>本文通过一款基于Unity3D的RPG游戏项目，概述RPG游戏的整体设计、任务系统设计、界面系统设计和游戏主场景的开发，介绍了使用NGUI插件搭建UI(User Interface 用户界面)，并通过功能分化为菜单、对话框以及背包系统，解析了任务系统的设计以及游戏角色控制的常用方法。</p>                              
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/quantization-effect.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b>数字信号处理中的量化效应研究</b></br>
                                        陈东林，陈勇</br>
                                        <i>江西师范大学学士学位论文</i>
                                    </p>
                                    <p>本文从A/ D 变换器、系统参数及运算三个方面进行了量化误差分析。这些量化效应主要和计算中用的寄存器长度有关，寄存器长度愈长，量化效应愈小。</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class = "panel panel-default">   
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>项目</h1>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="list-group">                      

						<li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/OCT.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>深圳华侨城--果岭售楼系统</b></p>
                                    <p><i>开发工具：Unity3D, C#</i></p>
                                    <p>深圳华侨城香山美墅四期--果岭售楼系统亮点在于唯幻科技的销控系统，以及“一房一景”功能。通过销控系统能够让买房客户和销售直观的了解到楼盘的销售情况，通过“一房一景”功能，能够让客户直观的感受到楼层景观的变化。本项目范围为果岭半径3公里的地块，项目中所有主要的地标、学校、酒店、娱乐场所等注意标明。</p>                     
                                </div>
                            </div>
                        </li>
						
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/virtual-fitting-room.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>幻衣间</b></p>
                                    <p><i>开发工具：Unity3D, Json, C#, Apache Tomcat，MySQL</i></p>
                                    <p>高级软件工程课程大作业。幻衣间是一个在线虚拟试衣系统，用户可以通过本系统快速地虚拟试穿各类服装，方便地找到自己喜欢的衣服及搭配方式。本系统支持网络注册、登陆，调节模特身高、肤色等个性化选项，支持品牌、类型等搜索条件的筛选，还提供前去购买的功能，可以直接链接到网店去购买实体衣服。在该项目中，我负责客户端的实现，包括需求编写、界面设计、逻辑实现、与服务器端的通信等。</p>
                                    <a href="https://vimeo.com/158156787" target="_blank" class="btn btn-default btn-sm" role="button">Video</a>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/recovery-game.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>医疗康复系列游戏</b></p>
                                    <p><i>开发工具：Unity3D, Kinect, C#</i></p>
                                    <p>与校外体感交互公司合作开发的一款诣在通过训练不同的基础手势、帮助有运行缺陷的病人进行康复训练的游戏系统。根据医生的反馈，目前正在使用的医疗康复设备由于动作单一、缺乏趣味性，很容易使病人产生厌倦情绪。本项目把复杂的训练动作（比如说脑瘫、半身瘫病人的翻身、手指力量、站立等动作训练）进行分解，同时对简单的动作进行重复训练，逐步锻炼达到基本能力的形成或提高，最终使病人能够应对日常生活。系统还通过实际器械和虚拟游戏相结合的方式，通过游戏提高趣味性，达到定制的锻炼功能。该项目已经作为医民两用型康复系统的一部分投入浙江萧山医院和嘉兴中医院的试用中了。以该项目为子系统的医民两用型康复系统获得<b>2013年“Kinect for Windows创新应用大赛”开发者组一等奖</b>；</p>                     
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/kikyou-game.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>Kikyou体感游戏</b></p>
                                    <p><i>开发工具：Unity3D, Kinect, C#</i></p>
                                    <p>大二暑假大作业。《Kikyou》是一款基于Kinect的体感冒险游戏。游戏以软件学院的一名虚拟女生Kikyou为线索，讲叙了Kikyou因为过度劳累而昏迷，进入异度空间，并在小精灵的帮助下得到四个宝物离开异度空间的故事。游戏共分为四个关卡，如接水果、与敌人对战，难度依次增加，玩家可通过使用道具来回血、改变Kikyou状态，从而帮助自己通过关卡。游戏主要利用了Unity3D来构建3D场景，并结合Kinect来实现控制虚拟人物与虚拟场景之间的互动。</p> 
                                </div>
                            </div>
                        </li>
				
				<div class = "panel panel-default">   
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>Demo</h1>
                                </div>
                            </div>
                        </div>
                    </div>    

                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/slide-pictures.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>SlidePictures</b></p>
                                    <p><i>开发工具：Unity3D, C#</i></p>
                                    <p>Unity3D中有多种方法制作图片查看器，针对4.x版本和NGUI3.0.9，使用切换材质的方法也可以实现幻灯片播放的功能。</p> 
									<a href="https://github.com/caedmom/dEveloper/blob/master/Projects/Unity%20Projects/SlidePictures.rar" target="_blank" class="btn btn-default btn-sm" role="button">Code</a>
									<a href="https://caedmom.github.io/2014/12/23/unity-ngui-slide/" target="_blank" class="btn btn-default btn-sm" role="button">Tutorial</a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
				
            </div>
        </div>
    </div>
</div>

<!-- English Version -->
<div class="en">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <div class = "panel panel-default">   
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>Papers</h1>
                                </div>
                            </div>
                        </div>
                    </div>    

                    <ul class="list-group">
						<li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/RehabilitationTraining.png" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b>Application of Wearable Device HTC VIVE in Upper Rehabilitation Training</b></br>
                                        Donglin Chen,Hao Liu,Zhigang Ren</br>
                                        <i>IEEE IMCEC 2018</i>
                                    </p>
                                    <p>By analyzing the human upper limb kinematics with Denavit- Hartenberg parameter method, it has established a 5-DOF model of human upper limb , and the work area of the upper limbs wrist was simulated and analyzed to ensure the training safety. The user study shows the system has promoted the patient's initiative for participating in rehabilitation training, the motion track records the movement of the limbs, and it meets the needs of rehabilitation training.</p>                              
                                </div>
                            </div>
                        </li>
					
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/dark-wonder RPG.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b>RPG Game Development Based On Unity3D</b></br>
                                        Donglin Chen,Hao Liu</br>
                                        <i>AICS2016</i>
                                    </p>
                                    <p>This paper through a RPG game project which based on Unity3D platform,Overview the overall design,the design of the task system,the interface system design and the development of the main scene for the RPG, it introduced the use of NGUI plug-in to build UI(User Interface)，and the function is divided into the menu, dialog box and the backpack system,The design of task system and the common methods of game role control are analyzed.</p>
                                    <a href="https://vimeo.com/157542775" target="_blank" class="btn btn-default btn-sm" role="button">Video</a>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/quantization-effect.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b>The research of the quantization effect in the digital signal processing</b></br>
                                        Donglin Chen,Yong Chen</br>
                                        <i>Jiangxi Normal University Bachelor Paper</i>
                                    </p>
                                    <p>This paper made analysis in three aspects of quantization errors from the A/ D converter, the system parameters and operation. These quantitative effect is mainly related to the register length in the calculation, the length is longer, the quantization effect is smaller.</p>
                                    <a href="https://vimeo.com/157533815" target="_blank" class="btn btn-default btn-sm" role="button">Video</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class = "panel panel-default">   
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>Projects</h1>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="list-group">                                            
                     
						<li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/OCT.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>OCT-GUOLING SHEN ZHEN</b></p>
                                    <p><i>Development Tools: Unity3D, C#</i></p>
                                    <p>The highlight of green sales system of Xiangshan villa phase IV in Oct Shenzhen lies in the sales control system of Arvix technology and the function of "one room, one view". Through the sales control system, customers and sales can intuitively understand the sales situation of real estate. Through the function of "one room, one scene", customers can intuitively feel the change of floor landscape. The scope of the project is a plot with a radius of 3 km. All major landmarks, schools, hotels and entertainment places in the project should be noted</p>                     
                                </div>
                            </div>
                        </li>
					 
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/virtual-fitting-room.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>Virtual Fitting Room</b></p>
                                    <p><i>Development Tools: Unity3D, Json, C#, Apache Tomcat，MySQL</i></p>
                                    <p>The course project for Advanced Introduction to Software Engineering. <i>Virtual Fitting Room</i> is an online system for consumers to find suitable clothes effectively. The system supports sign up and login, and the user can customize his/her virtual model by adjusting height, size, complexion and so on. The system also supports filtering based on brands, types and other conditions. If the user is attracted by some cloth, the system can direct to the shopping web page. In this project, I was responsible for the client-side realizations, including writing requirements, designing interfaces, coding and communicating with the server-side.</p>
                                    <a href="https://vimeo.com/158156787" target="_blank" class="btn btn-default btn-sm" role="button">Video</a>
                                </div>
                            </div>
                        </li>

                        
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/recovery-game.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>Game Series For Medical Rehabilitation</b></p>
                                    <p><i>Development Tools: Unity3D, Kinect, C#</i></p>
                                    <p>The game series aim to help patients with movement defects for sports training. According to the doctors' feedback, rehabilitation equipments make the patients boring easily due to the lack of interests. The system combines virtual games and real rehabilitation equipments to bring more joys to the patients.</p>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/kikyou-game.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>Kikyou</b></p>
                                    <p><i>Development Tools: Unity3D, Kinect, C#</i></p>
                                    <p><i>Kikyou</i> is a motion sensing game on PC. The background was that our heroine Kikyou was a student in Software Engineering who entered another world at the moment she fainted on the floor. The player controls the movements of Kikyou through a Kinect sensor and needs to help Kikyou leave this world under the help of a fairy. </p>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
				
				<div class = "panel panel-default">   
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>Demos</h1>
                                </div>
                            </div>
                        </div>
                    </div>    

                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/slide-pictures.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>SlidePictures</b></p>
                                    <p><i>Development Tools: Unity3D, C#</i></p>
                                    <p>There has many method to made slide for Unity3D,for Unity 4.x and NGUI3.0.9,we can realize it by change the materials of the gameobject.</p> 
									<a href="https://github.com/caedmom/dEveloper/blob/master/Projects/Unity%20Projects/SlidePictures.rar" target="_blank" class="btn btn-default btn-sm" role="button">Code</a>
									<a href="https://caedmom.github.io/2014/12/23/unity-ngui-slide/" target="_blank" class="btn btn-default btn-sm" role="button">Tutorial</a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
				
            </div>
        </div>
    </div>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>